.nav {
    grid-area: n;
    background-color: #55acee;/*aquamarine;*/
    border-radius: 0px 0px 0px 20px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.item {
    color:white;
    /*margin-left: 7px;*/
    width: 250px;
    height: 36px;
    margin-top: 10px;
    /*box-shadow: 0 5px 0 #3C93D5;*/
    font-size: 24px;
    background-color:#55acee;
    border-radius: 0px;
    line-height: 36px;
    cursor: pointer;
    user-select: none;
    letter-spacing: 2px;
    
    font-family: Verdana, Geneva, sans-serif;
}
.item:hover {
    background: #66ceff;
    filter:brightness(100%);
    -webkit-box-shadow: 0px 0px 35px -6px rgba(0,0,0,0.79); 
    box-shadow: 0px 0px 35px -6px rgba(0,0,0,0.79);
    
  }
.item a {
    margin-left: 9px;
    text-decoration: none;
    color: white;
}
