
.Navbar_buttons__U8T\+Y a {
    margin-left: 9px;
    text-decoration: none;
    color: black;
    font-family: "Open Sans", sans-serif;
}
.Navbar_buttons__U8T\+Y .active {
    color: gold;
    /* border: 1px solid white; */
    /* background: #e6e3df; */
    
}